@import "@xyflow/react/dist/style.css";

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reactFlow {
    border: 1px dashed black;
    background-color: aliceblue;
}

.handle {
    width: 15px;
    height: 15px;
    background-color: #164ea6;
    border: 2px solid white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
